<%- include('partial/header') %>
    <div class="container" mt-5>
  <a href="/register" class="btn btn-lg bt-primary">Register</a>
  <a href="/login" class="btn btn-lg bt-secondary">Login</a>  
    </div>
<%- include('partial/footer') %>
      