<html lang="en">
<head>
    <title>Bootstrap Typeahead with Ajax Example</title>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/90f2305be8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/scss/home.css">

</head>
<body>

  <div class="main_header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fab fa-500px">Quality-Health</i></a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <!--  <span class="sr-only ">Toggle navigation</span> -->
                <span class="navbar-toggler-icon"></span>
          </button>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/doctor">Doctor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/appointment">Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diagnostic">Diagnostics</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/clinic">Clinic</a>
                    </li>
                </ul>


                <form class="form-inline my-2 my-lg-0" action="/login" method="GET">
                    <button class="my_btn" type="submit">SignIn</button>
                </form>
            </div>

    </nav>
    </div>
    
<div class="doctor_header">

<section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        
                         <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select City</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                          <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Department</option> 
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-primary wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="cards1">
    <div class="row">
    <div class="col">Nephrologist</div>
    <div class="col">Dentist</div>
    <div class="w-100"></div>
    <div class="col">Neurologist</div>
    <div class="col">Dietition</div>
  </div>
</div>
</section>
</div>

     
<!--button code -->



  <div class="header_hero">

  <div class="card__collection clear-fix">
    <div class="cards cards--four">
      <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=651&q=80" class="img-responsive" alt="Cards Image">
      <span class="cards--two__rect"></span>
      <span class="cards--two__tri"></span>
      <p>Pharmacy</p>
      <ul class="cards__list">
          <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
      </ul>
  </div>
  <div class="cards cards--four">
    <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=651&q=80" class="img-responsive" alt="Cards Image">
    <span class="cards--two__rect"></span>
    <span class="cards--two__tri"></span>
    <p>Pharmacy</p>
    <ul class="cards__list">
        <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
    </ul>
</div>
<div class="cards cards--four">
  <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=651&q=80" class="img-responsive" alt="Cards Image">
  <span class="cards--two__rect"></span>
  <span class="cards--two__tri"></span>
  <p>Pharmacy</p>
  <ul class="cards__list">
      <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
  </ul>
</div>
</div>


  <div class="row justify-content-md-center">
    <div class="col-md-auto wf"> production</div>
    <div class="col-6 wf"> production</div>
  </div>
</div>
</body>

<script type="text/javascript">
var typeaheadSource = [{ 
        id: 1, firstName: 'John'}, { 
        id: 2, firstName: 'Alex'}, { 
        id: 3, firstName: 'Terry'
    }];

	$('.myTypeahead').typeahead({
        source:  typeaheadSource,
        displayField: 'firstName'
    });
</script>
</html>