<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <script src="https://kit.fontawesome.com/90f2305be8.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/scss/home.css">


    <title>Quality Health</title>
</head>

<body>

    <div class="main_header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#"><i class="fab fa-500px">Quality-Health</i></a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <!--  <span class="sr-only ">Toggle navigation</span> -->
                    <span class="navbar-toggler-icon"></span>
              </button>

                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/home">Home<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/doctor">Doctor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/appointment">Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/diagnostic">Diagnostics</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/clinic">Clinic</a>
                        </li>
                    </ul>


                    <form class="form-inline my-2 my-lg-0" action="/login" method="GET">
                        <button class="my_btn" type="submit">SignIn</button>
                    </form>
                </div>

        </nav>
        </div>



        <!---container middle part with images-->
        <div class="header_hero ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-6 col-10 mx-auto ">
                        <div class="header_hero__text ">
                            <h2><span>Welcome</span> all to</h2>
                            <p> Quality Health</p>

                            <div class="header_hero__btn ">
                                <a href="# " alt=" ">Click to download</a>
                                <a href="# " alt=" " id="btn__2 ">Register here</a>
                            </div>
                        </div>
                    </div>

                    <!--- right div middle part with image--- -->
                    <div class="col-lg-6 col-10 mx-auto ">
                        <figure class="header_hero__img ">
                            <img src="images/doctor.png " alt=" " class="img-fluid ">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <!--middle part -->

        <div class="card__collection clear-fix">
            <div class="cards cards--two">
                <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=651&q=80" class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>Doctors Near You</p>
                <ul class="cards__list">
                    <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
                </ul>
            </div>

            <!--three-->

            <div class="cards cards--three">
                <img src="https://images.unsplash.com/photo-1480408144303-d874c5e12201?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=575213599ae24b3dbdfd84be79425c50&auto=format&fit=crop&w=634&q=80" class="img-responsive" alt="">
                <span class="cards--three__rect-1">
      <span class="shadow-1"></span>
                <p>Doctor On Call</p>
                </span>
                <!-- <span class="cards--three__rect-2">
      <span class="shadow-2"></span>
                </span>-->
                <span class="cards--three__circle"></span>
                <ul class="cards--three__list">
                    <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
                </ul>
            </div>
            <!--four-->

            <div class="cards cards--four">
                <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=651&q=80" class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>Pharmacy</p>
                <ul class="cards__list">
                    <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
                </ul>
            </div>

            <!--five-->

            <div class="cards cards--five">
                <img src="https://images.unsplash.com/photo-1480408144303-d874c5e12201?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=575213599ae24b3dbdfd84be79425c50&auto=format&fit=crop&w=634&q=80" class="img-responsive" alt="">
                <span class="cards--three__rect-1">
            <span class="shadow-1"></span>
                <p>Diagnosists</p>
                </span>
                <span class="cards--three__rect-2">
            <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
                <ul class="cards--three__list">
                    <!--<li>Click me <i class="fas fa-sign-in-alt"></i></li>-->
                </ul>
            </div>

        </div>

        <!--middle part ends here -->

        <!-- third middle part starts here
        <div class="middle_hero_third">
            <div class="cards">
                <div class="card">ONE</div>
                <div class="card">TWO</div>
                <div class="card">THREE</div>
                <div class="card">FOUR</div>
                <div class="card">FIVE</div>
                <div class="card">SIX</div>
            </div>


        -->













        <!---

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        -->

        <!-- Optional JavaScript; choose one of the two! -->

        <!----Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>
        -->
        <!--- Option 2: jQuery, Popper.js, and Bootstrap JS-
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js " integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s " crossorigin="anonymous "></script>
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
        -->
        <!-- Option 2: Separate Popper and Bootstrap JS 
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        -->
        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>

</html>